.body {
  margin-top: 2.5rem;
  display: grid;
  gap: 2.5rem;
}

@media (min-width: 900px) {
  .body {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

.story {
  font-size: 0.95rem;
  line-height: 2;
  color: var(--color-charcoal);
}
