.wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.wrap h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.wrap p {
  font-size: 0.9rem;
  color: var(--color-charcoal);
  line-height: 1.8;
}
